@page 
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<style>
    .butcolor {
        background-color: #ed7495;
        color: white;
    }

        .butcolor:hover {
            background-color: #f6bcca;
            color: white;
        }
</style>

<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <h1 class="mt-6">@ViewData["Title"]</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>

            <hr />
            <div class="row">
                <div class="col-sm-6">
                    <label for="FirstName">First Name</label>
                    <input type="text" asp-for="Input.FirstFName3" id="FirstName" class="form-control" />
                </div>

                <div class="col-sm-6">
                    <label for="LasttName">Last Name</label>
                    <input type="text" asp-for="Input.LastLName3" id="LastName" class="form-control" />
                </div>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3 mt-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-5">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg butcolor">Register</button>
        </form>
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
